.TreadyLinechart .line-section {
    display: flex;
    height: max-content;
    min-width: 100%;
    padding: var(--24, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 1rem);
    flex: 1 0 0;
    border-radius: var(--16, 1rem);
    background: var(--Primary-Light, #1C1C1C);
}
.TreadyLinechart{
    width: 65%;
}
.TreadyLinechart .title-group {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem var(--16, 1rem);
    flex-wrap: wrap;
}
.TreadyLinechart .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--black-100, #1C1C1C);
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;

    /* 14 Semibold */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
}
.TreadyLinechart .week{
    color: var(--black-100, #1C1C1C);

    /* 12 Regular */
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
}

.TreadyLinechart .line-graph{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
}
.TreadyLinechart span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--black-20, rgba(28, 28, 28, 0.20));
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;

    /* 14 Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
.TreadyLinechart .week>img {
    display: inline;
    padding: 0.125rem var(--8, 0.25rem) 0.125rem var(--4, 0.25rem);
    align-items: center;
}

.TreadyLinechart.dark-mode .week{
    color:#fff;
}

.dark-mode .TreadyLinechart span{
    color : #fff;
}
.TreadyLinechart.dark-mode .line-section{

    background-color:  rgba(255, 255, 255, 0.05);

}

.TreadyLinechart.dark-mode .title{
    color: #fff;
}

.TreadyLinechart .MuiChartsAxis-tickLabel {
  fill: rgba(28, 28, 28, 0.40) !important;
}

.dark-mode .TreadyLinechart .MuiChartsAxis-tickLabel {
  fill: rgba(255, 255, 255, 0.40) !important; 
}

.dark-mode .TreadyLinechart .MuiChartsGrid-line {
  stroke: #666666 !important;
}


