.Sidebar .sidebar-main{
    display: flex;
    width: 13.25rem;
    height: 75.375rem;
    padding: var(--20, 1.25rem) var(--16, 1rem);
    flex-direction: column;
    align-items: center;
    gap: var(--16, 1rem);
    flex-shrink: 0;
    border-right: 1px solid var(--black-10, rgba(28, 28, 28, 0.10));
}

.Sidebar .profile{
    display: flex;
    padding: var(--4, 0.25rem);
    align-items: center;
    align-content: center;
    gap: 0.5rem var(--8, 0.5rem);
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: var(--8, 0.5rem);    
}
.Sidebar .user-profile{
    width: var(--24, 1.5rem);
    height: var(--24, 1.5rem);
    border-radius: var(--80, 5rem);
    background: lightgray 50% / cover no-repeat;
}

.Sidebar .user-name{
    color: var(--black-100, #1C1C1C);
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;

    /* 14 Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.Sidebar .sidebar-items{
    display: flex;
    padding-bottom: var(--12, 0.75rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4, 0.25rem);
    align-self: stretch;
}