.TreadyBarchart .bar-section{
    display: flex;
    padding: var(--24, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 1rem);
    flex: 1 1 auto;
    border-radius: var(--16, 1rem);
    background: var(--Primary-Light, #F7F9FB);

}
.TreadyBarchart{
    width: 50%;
}
.TreadyBarchart .title-group{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem var(--16, 1rem);
    flex-wrap: wrap;
}
.TreadyBarchart .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--black-100, #1C1C1C);
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;

    /* 14 Semibold */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
}


.TreadyBarchart .bar-graph{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 1 auto;
    align-self: stretch;
}


.TreadyBarchart.dark-mode .week{
    color:#fff;
}

.dark-mode .TreadyBarchart span{
    color : #fff;
}
.TreadyBarchart.dark-mode .bar-section{

    background-color:  rgba(255, 255, 255, 0.05);

}

.TreadyBarchart.dark-mode .title{
    color: #fff;
}

.TreadyBarchart .MuiChartsAxis-tickLabel {
  fill: rgba(28, 28, 28, 0.40) !important;
}

.dark-mode .TreadyBarchart .MuiChartsAxis-tickLabel {
  fill: rgba(255, 255, 255, 0.40) !important; 
}

.dark-mode .TreadyBarchart .MuiChartsGrid-line {
  stroke: #666666 !important;
}