.Default-main{
    flex: 1;
    min-width: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    background-color: #ffffff;
}

.Default-main.dark-mode {
    background-color: #1C1C1C;
}
.main-section{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1.75rem;
    gap: 2rem;
    flex-wrap: wrap;
}
