.BasicTable h3{
    font-family: Inter;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--8, 0.5rem);
}
.BasicTable{
    width: 65%;
    
}
.BasicTable .basic-table{
    display: flex;
    
    padding: var(--24, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4, 0.25rem);
    flex: 1 0 0;
    border-radius: var(--16, 1rem);
}

.BasicTable .basic-table th {
    color: var(--black-40, rgba(28, 28, 28, 0.40)) ;
    font-family: Inter;
    background-color: var(--Primary-Light) ;
    font-size: 1em ;
    font-style: normal ;
    font-weight: 400 ;
    line-height: 1.125rem ; /* 150% */
    border-bottom: 1px solid var(--black-20, rgba(28, 28, 28, 0.20)) !important;
}


/* Dark modes */

.BasicTable.dark-mode .basic-table {
    background-color: rgba(255, 255, 255, 0.05) ;
}

.BasicTable.dark-mode h3 {
    color: #FFFFFF ;
}

.BasicTable.dark-mode .basic-table th {
    color: rgba(255, 255, 255, 0.40) ;
    background-color: rgba(255, 255, 255, 0.05) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20) ;
}
