.notification-item{
    display: flex;
    width: 15.4rem;
    padding: var(--4, 0.25rem);
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem var(--8, 0.5rem);
    flex: 1 0 0;
    flex-wrap: wrap;
}
.noti-avatar{
    display: flex;
    padding: var(--4, 0.25rem);
    justify-content: center;
    align-items: center;
    border-radius: var(--Radius-8, 0.5rem);
    background: var(--Primary-Blue, #E3F5FF);
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: var(--8, 0.5rem);
}

.noti-message{
    overflow: hidden;
    color: var(--black-100, #1C1C1C);
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;
    text-overflow: ellipsis;

    /* 14 Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}

.noti-time{
    color: var(--black-40, rgba(28, 28, 28, 0.40));
    font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;

    /* 12 Regular */
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    
}
